.donation-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.donation-form button {
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

.donation-form button:hover {
  background-color: #218838;
}

.donation-form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 1rem;
}
